
<div class="content-table">
  <table *ngIf="contentData?.items?.length else emptyView">
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>Changed On</th>
      <th colspan="3">Actions</th>
    </tr>
    <tr *ngFor="let item of contentData?.items"  class="content-table-row">
      <td><input type="checkbox"></td>
      <td><div><img [ngClass]="item?.kind === 'folder' ? 'item-kind' : ''" height="20px" [src]="item?.kind === 'folder' ? '../../../assets/folder.svg' : '../../../assets/doc.svg'"></div></td>
      <td (click)="selectItem(item)" class="item-name">{{item?.name}}</td>
      <td style="padding: 0.25rem 0.5rem;">{{item?.createdBy}}</td>
      <td style="padding: 0.25rem 0.5rem">{{item?.createdOn |  date:'dd-MM-yyyy/HH:mm:ss'}}</td>
      <td style="padding: 0.25rem 0.5rem">{{item?.changedOn |  date:'dd-MM-yyyy/HH:mm:ss'}}</td>
      <td><button class="action-button" (click)="downloadFile(item)" [disabled]="item.kind === 'folder'">
        <img [class]="item.kind === 'folder' ? 'disabled' : 'primary'" src="../../../assets/actions/download.svg" height="20" alt="">
      </button></td>
      <td><button (click)="deleteItem(item)" class="action-button" ><img class="warn"  src="../../../assets/actions/delete.svg" height="20" alt=""></button></td>
      <td><button class="action-button" ><img class="primary" src="../../../assets/actions/info.svg" height="20" alt=""></button></td>
    </tr>
  </table>
</div>

<ng-template #emptyView>
  <app-empty-view></app-empty-view>
</ng-template>
