.content-table {
  @mixin action-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  table {
    th {
      color: #696969;
    }
    width: 100%;
    font-size: small;
    border-collapse:collapse;
    td {
      padding: 0.175rem 0rem;
      border-bottom: 0.5px solid rgb(207, 207, 207); /* move spacing to the cell */
      .action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

    }
    .item-name {
      color: rgb(68, 68, 68);
      display: flex;
      align-items: center;
      & img {
        padding-right: 0.5rem;
      }
    }
    .item-kind {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(360deg);
    }
  }
  .content-table-row {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    &:hover {
      background-color: rgb(241, 241, 241);
    }

    .action-button {
      @include action-button();
    }

    .warn {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(315deg)
    }
    .allow {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(115deg);
    }
    .primary {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(200deg)
    }
    .disabled {
      filter: opacity(0.25);
      cursor: not-allowed;
    }

  }
}

.info-properties {
  text-align: right;
  color: #ababab;
  font-weight: bold;
}


dialog::backdrop {
  background-color: darkorange;
}

dialog {
  position: fixed;
  top: 2rem;
  outline: none;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0.5rem;
  padding:2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  #copy-button {
    filter: opacity(0.5)
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    img { 
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(200deg)
    }
  }
}

#deletedialog::backdrop {
  background-color: darkorange;
}

#deletedialog {
  position: fixed;
  top: 2rem;
  outline: none;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 0.5rem;
  padding:2rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  .delete {
    position: absolute;
    top: 1rem;
    right: 1rem;
    img {
      filter: invert(0.5) sepia(1) saturate(5) hue-rotate(200deg)
    }
  }
}
