
<div class="content-table">
  <table *ngIf="contentData?.items?.length else emptyView">
    <tr>
      <th></th>

      <th style="text-align: left;">Name</th>
      <th style="text-align: left;">Created By</th>
      <th>Created On</th>
      <th>Changed On</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of contentData?.items; let i = index"  class="content-table-row">
      <td><div (click)="toggleItem(i)" style="display: flex; justify-content: center;"><input type="checkbox"></div></td>
      <td (click)="selectItem(item)" > <div class="item-name">
        <div style="display: flex; align-items: center;"><img [ngClass]="item?.kind === 'folder' ? 'item-kind' : ''" height="20px" [src]="item?.kind === 'folder' ? '../../../assets/folder.svg' : '../../../assets/doc.svg'"></div> <div>{{item?.name}}</div>
      </div></td>
      <td style="padding: 0.25rem 0rem;"><div>{{item?.createdBy}}</div></td>
      <td style="padding: 0.25rem 0rem; text-align: center;">{{item?.createdOn |  date:'dd-MM-yyyy / HH:mm:ss'}}</td>
      <td style="padding: 0.25rem 0rem; text-align: center;">{{item?.changedOn |  date:'dd-MM-yyyy / HH:mm:ss'}}</td>
      <td><div class="action-buttons">
        <button class="action-button" (click)="downloadFile(item)" [disabled]="item.kind === 'folder'">
          <img [class]="item.kind === 'folder' ? 'disabled' : 'primary'" src="../../../assets/actions/download.svg" height="20" alt="">
          </button>
          <button (click)="tryDelete(item)" class="action-button" ><img class="warn"  src="../../../assets/actions/delete.svg" height="20" alt=""></button>
          <button class="action-button" (click)="openInfoDialog(item)" ><img class="primary" src="../../../assets/actions/info.svg" height="20" alt=""></button>
      </div>
      </td>
    </tr>
  </table>
</div>

<ng-template #emptyView>
  <app-empty-view></app-empty-view>
</ng-template>


<dialog *ngIf="this.itemData" [open]="isOverviewOpen" id="dialog">

  <p style="font-weight: bold;">Information overview</p>
  <table style="font-size: small;">
    <tr *ngFor="let prop of this.itemData">
     <td class="info-properties">{{prop[0]}}:</td>
     <td> {{prop[0] === 'extended' ? (prop[1] | json) : prop[1]}}</td>
     <td><button (click)="copyToClipboard(prop[1])" class="action-button"><img id="copy-button" height="14" src="../../../assets/actions/copy.svg" alt=""></button></td>
     <td><button class="action-button"><img id="copy-button" height="14" src="../../../assets/actions/edit.svg" alt=""></button></td>
    </tr>
  </table>

  <button class="action-button close" (click)="closeInfoDialog()">
    <img height="20" src="../../../assets/actions/close.svg" alt="" srcset="">
  </button>
</dialog>

<dialog *ngIf="this.itemData" [open]="isDeleteOpen" id="deletedialog">

  <p style="font-weight: bold;">Warning</p>

  <p style="margin: auto; margin-bottom: 15px;"> Are you sure you want to delete this item?</p>

  <div style="margin: auto; display: flex; justify-content: center; flex-direction: column;">
    <button style="margin-bottom: 15px;
      border-radius: 5px;
      border: solid 1px black;
      background-color: rgb(255, 69, 69); 
      color: white; 
      font-weight: bold;"
      (click)="deleteItem(this.itemData)"
    >
    <div style="display: flex; justify-content: center; align-items: center; height: 26px;">
      <span style="display:block; margin-right: 4px;">Delete</span> 
      <img height="20px" src="../../../assets/actions/delete.svg" alt="" srcset="">
    </div>
    </button>

    <button style="margin-bottom: 15px;
      border-radius: 5px;
      border: solid 1px black;
      font-weight: bold;"
      (click)="closeInfoDialog()"
    >
    <div style="display: flex; justify-content: center; align-items: center; height: 26px;">
      <span style="display:block; margin-right: 4px;">Close</span> 
      <img height="20px" src="../../../assets/actions/close.svg" alt="" srcset="">
    </div>
    </button>
  </div>
</dialog>
