.navigation {
  margin: 1rem 0rem;
  font-size: small;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .filters {

    display: flex;
    gap: 0.5rem;

  }

  .breadcrumz {
    .crumb:last-child {
      font-weight: bold;
    }
    display: flex;
    .crumb {
      display: flex;
      align-items: center;
      span {
        padding: 0 0.5rem;
      }
      .crumb-name {
        cursor: pointer;
        /* border: 1px solid gray; */
        padding: 0.25rem 0.5rem;
        border-radius: 1rem;
        background-color: #e2e2e2;
        &:hover {
          background-color: #c7c7c7;
        }
      }
    }
  }
}

