<div class="navigation">
  <div class="breadcrumz">
    <div  class="crumb"><span>❯</span> <div style="cursor:pointer" class="crumb-name" (click)="navigateToFolder('')">Root</div></div>
    <div *ngFor="let crumb of crumbs" class="crumb"><span>❯</span> <div class="crumb-name" style="cursor:pointer" (click)="navigateToFolder(crumb)">{{crumb}}</div></div>
  </div>

  <div class="filters">
    <div style="position: relative;">
      <button #newFolderButton (click)="toggleNewFolderDialog()">New Folder</button>
      <div #newFolderForm *ngIf="showNewFolderDialog" class="new-folder-dropdown">
        <label for="">Enter new folder name:</label>
        <input [formControl]="newFolderNameControl" type="text">
        <button [disabled]="newFolderNameControl.value === ''" (click)="addNewFolder(newFolderNameControl?.value)">Add</button>
      </div>
    </div>

    <button>Upload</button>
    <select (change)="selectSortByChange($event)" name="Sort by" id="">
      <option disabled selected value>Sort by... </option>
      <option value="created-on">Created On</option>
      <option value="created-by">Created By</option>
      <option value="change-on">Changed On</option>
    </select>
    <select (change)="selectSortOrderChange($event)" name="Sort order" id="">
      <option value="asc">ACS</option>
      <option value="desc">DECS</option>
    </select>

    <input accesskey="s" #search (input)="this.searchQueryChanged.next($event)" placeholder="Search" type="search">
  </div>

</div>
