.loader {
  position: fixed;
  top: 0rem;
  left: 0px;
  width: 30%;
  height: 0.25rem;
  background-color: #5f5fb3;
  animation:ease-in-out infinite alternate;
  animation-name: run;
  animation-duration: 3s;
}

@keyframes run {
  0% { left: 0;}
  50%{ left : 70%;}
  100%{ left: 0;}
}
