<div>
  <app-enviroment-select (enviromentSelectEvent)="handleEnviromentSelect($event)"></app-enviroment-select>
  <app-content-view-navigation
    [path]="currentRoute"
    (selectedCrumbEvent)="hanldeCrumbSelect($event)"
    (selectedSortOrder)="handleSelectSortOrder($event)"
    (changedSearchQueryEvent)="handleSearchQueryChange($event)"
    (addNewFolderEvent)="handleAddNewFolder($event)"
    (uploadFilesEvent)="handleUploadFilesEvent($event)"
    (selectedSortByMethod)="handleSelectSortByMethod($event)"></app-content-view-navigation>
  <app-content-view-table
    [contentData]="folderData"
    (folderSelectedEvent)="handleFolderSelectedEvent($event)"
    (itemDeletedEvent)="handleItemDeleted($event)"
  ></app-content-view-table>
  <app-content-view-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePageSizeEvent)="handleChangePageSize($event)"
    (changePageEvent)="handlePageChangeEvent($event)" ></app-content-view-pagination>
</div>
